@section Scripts
{

    <script src="~/js/mantenimientos/listar-categorias.js"></script>
}

<div class="row g-5">

    <div class="card col-12 col-xl-10 order-1 order-xl-0 p-2 w-100">

        <div class="d-flex flex-wrap mb-2">
            <a class="btn btn-primary btn-sm p-2" asp-controller="Mantenimientos" asp-action="RegistrarCategoria">
                <span class="fa fa-plus-circle"></span> Nuevo
            </a>
        </div>
     
        <div id="tabla-elementos">
            <div class="search-box mb-3 mx-auto">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                   <div class="input-group w-25">
                     <input class="form-control search-input search form-control-sm" type="search" placeholder="Buscar" aria-label="Buscar"/>
                     <div class="input-group-append">
                       <span class="fa fa-search input-group-text"></span>
                     </div>
                   </div>
                </form>
            </div>
            <div class="table-responsive">
            <table class="table table-sm fs--1 mb-0">
                <thead id="tblhead-elementos">
                </thead>
                <tbody class="list" id="tblbody-elementos">
                </tbody>
            </table>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <ul class="mb-0 pagination">
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                    <div class="mb-3">
                        <label id="lbl-id-cod" for="id-or-cod" class="col-form-label"></label>
                        <input type="text" class="form-control" id="id-or-cod" disabled>
                    </div>
                    <div class="mb-3">
                        <label id="lbl-nombre-element" for="nombre-categoria" class="col-form-label"></label>
                        <input type="text" class="form-control" id="nombre-categoria" onchange="this.value = this.value.toUpperCase()" onblur="this.value = this.value.toUpperCase()">
                    </div>
                    <div class="mb-3">
                        <label id="lbl-texto-1" for="texto-ad-1" class="col-form-label"></label>
                        <textarea type="text" class="form-control" id="texto-ad-1" rows="3" style="resize: none" onchange="this.value = this.value.toUpperCase()" onblur="this.value = this.value.toUpperCase()"> </textarea>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" role="switch" id="switchestado" checked>
                        <label class="form-check-label" for="switchestado">Estado Activo</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarElement">Guardar</button>
            </div>
        </div>
    </div>
</div>